<a href="https://colab.research.google.com/github/seonae0223/mid_project/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('2023_가구마스터_20240819_22946.csv', encoding='CP949')

## Cleansing

In [ ]:
# drop columns에서 사용하지 않을 컬럼명만 추가해서 사용

drop_columns = [
'조사연도',
'가중값',
'가구주_교육정도_학력코드',
'가구주_교육정도_수학구분코드',
'가구주_만연령',
'가구주_종사상지위코드',
'입주형태코드',
'전용면적규모코드',
'소득5분위코드(보완)',
'소득계층구간코드(보도용)(보완)',
'자산총액5분위코드',
'순자산5분위코드',
'이사여부',
'자산총액10분위코드',
'순자산10분위코드',
'자산_금융자산',
'자산_실물자산',
'자산_금융자산_저축금액',
'자산_금융자산_저축_적립예치식저축금액',
'자산_금융자산_저축_적립예치식저축_수시적립예치식저축금액',
'자산_금융자산_저축_적립예치식저축_저축성보장성보험금액',
'자산_금융자산_저축_적립예치식저축_주식채권펀드금액',
'자산_금융자산_저축_기타저축금액',
'자산_금융자산_현거주지전월세보증금',
'자산_실물자산_부동산금액',
'자산_실물자산_부동산_거주주택금액',
'자산_실물자산_부동산_거주주택이외부동산금액',
'자산_실물자산_부동산_계약금중도금납입금액',
'자산_실물자산_기타실물자산',
'자산_실물자산_기타실물자산_자동차금액',
'자산_실물자산_기타실물자산_기타금액',
'자산_실물자산_기타실물자산_기타_자동차이외기타실물자산',
'자산_실물자산_기타실물자산_기타_권리금',
'부채_금융부채',
'부채_금융부채_담보대출금액',
'부채_금융부채_담보대출_대출용도_거주주택구입금액',
'부채_금융부채_담보대출_대출용도_거주주택이외부동산구입금액',
'부채_금융부채_담보대출_대출용도_전월세보증금마련금액',
'부채_금융부채_담보대출_대출용도_부채상환금액',
'부채_금융부채_담보대출_대출용도_사업자금마련금액',
'부채_금융부채_담보대출_대출용도_생활비마련금액',
'부채_금융부채_담보대출_대출용도_기타용도금액',
'부채_금융부채_담보대출_대출기관_은행금액(2010년은 농수협 중앙회 제외)',
'부채_금융부채_담보대출_대출기관_저축은행금액',
'부채_금융부채_담보대출_대출기관_비은행금융기관금액(2010년은 농수협중앙회 포함)',
'부채_금융부채_담보대출_대출기관_보험회사금액',
'부채_금융부채_담보대출_대출기관_기타기관금액',
'부채_금융부채_담보대출_상환방법_만기일시금액',
'부채_금융부채_담보대출_상환방법_원금분할상환금액',
'부채_금융부채_담보대출_상환방법_원리금분할상환금액',
'부채_금융부채_담보대출_상환방법_원리금분할일부만기상환금액',
'부채_금융부채_담보대출_상환방법_기타상환방법금액',
'부채_금융부채_담보대출_담보형태_거주주택금액',
'부채_금융부채_담보대출_담보형태_거주주택이외부동산금액',
'부채_금융부채_담보대출_담보형태_예적금보험펀드채권금액',
'부채_금융부채_담보대출_담보형태_기타금액',
'부채_금융부채_담보대출_부동산담보대출금액',
'부채_금융부채_담보대출_부동산이외담보대출금액',
'부채_금융부채_신용대출금액',
'부채_금융부채_신용대출_대출용도_거주주택구입금액',
'부채_금융부채_신용대출_대출용도_거주주택이외부동산구입금액',
'부채_금융부채_신용대출_대출용도_전월세보증금마련금액',
'부채_금융부채_신용대출_대출용도_부채상환금액',
'부채_금융부채_신용대출_대출용도_사업자금마련금액',
'부채_금융부채_신용대출_대출용도_생활비마련금액',
'부채_금융부채_신용대출_대출용도_기타용도금액',
'부채_금융부채_신용대출_대출기관_은행금액(2010년은 농수협 중앙회 제외)',
'부채_금융부채_신용대출_대출기관_저축은행금액',
'부채_금융부채_신용대출_대출기관_비은행금융기관금액(2010년은 농수협중앙회 포함)',
'부채_금융부채_신용대출_대출기관_보험회사금액',
'부채_금융부채_신용대출_대출기관_기타기관금액',
'부채_금융부채_신용대출_상환방법_만기일시금액',
'부채_금융부채_신용대출_상환방법_원금분할상환금액',
'부채_금융부채_신용대출_상환방법_원리금분할상환금액',
'부채_금융부채_신용대출_상환방법_원리금분할일부만기상환금액',
'부채_금융부채_신용대출_상환방법_기타상환방법금액',
'부채_금융부채_신용대출_대출종류_신용대출금액',
'부채_금융부채_신용대출_대출종류_마이너스통장금액',
'부채_금융부채_신용카드관련대출금액',
'부채_금융부채_외상할부미상환금액',
'부채_금융부채_계탄후불입금액',
'부채_금융부채_개인직장빌린금액(2017년~)',
'부채_임대보증금',

'원리금상환_원금상환금액',
'원리금상환_이자지급금액',
'순자산',
'경상소득(보완)',
'경상소득_근로소득(보완)',
'경상소득_사업소득(보완)',
'경상소득_재산소득(보완)',
'경상소득_공적이전소득(보완)',
'경상소득_사적이전소득(조사)',
'이전소득(보완)[공적이전소득(보완)+사적이전소득(조사)]',
'처분가능소득(보완)[경상소득(보완)-비소비지출(보완)]',

'지출(보완)[비소비지출(보완)+소비지출(조사)](2012~2018년: 복지^ 2019년~:공통)',

'지출_비소비지출_세금(보완)',
'지출_비소비지출_공적연금사회보험료(보완)',
'지출_비소비지출_가구간이전지출(조사)',
'지출_비소비지출_비영리단체이전지출액(조사2)',
'지출_비소비지출_연간지급이자(조사2)',
'지출_소비지출_식료품(외식비포함)',
'지출_소비지출_주거비',
'지출_소비지출_교육비(보육료포함)',
'지출_소비지출_의료비',
'지출_소비지출_교통비',
'지출_소비지출_통신비',
'지출_소비지출_기타소비지출비',


'여유자금운용계획코드',
'금융자산투자운용방법코드',
'금융자산투자고려사항코드',
'거주지주택가격전망코드',
'여유자금부동산투자여부',
'부동산투자주목적코드',
'투자선호부동산코드',
'부동산투자기피사유코드',
'1년후금융부채규모전망코드',
'부채증가원인코드',
'1년전대비부채증감코드',
'부채상환방법코드',
'원리금연체여부',
'원리금연체사유코드',
'30일이상원리금연체여부',
'원리금상환_생계부담정도코드',
'원리금상환_생계부담_소득대비상환액비중',
'원리금상환_가계지출감소여부',
'원리금상환_가계지출감소항목코드',
'부채상환가능시기코드',
'가구주_미은퇴_은퇴연령',
'가구주_미은퇴_최소생활비',
'가구주_미은퇴_적정생활비',
'가구주_미은퇴_노후준비상황코드',
'가구주_은퇴_은퇴연령',
'가구주_은퇴_적정생활비충당여부',
'가구주_은퇴_생활비재원마련코드(2014년~)',
]






df_dropped = df.drop(drop_columns, axis=1)

In [ ]:

cats = [
'수도권여부',
'노인가구여부',
'조손가구여부',
'한부모가구여부',
'다문화가구여부(2012년~)',
'장애인가구여부(2012년~)(보완)',
'가구주_교육정도_통합코드',
'가구주_산업대분류코드',
'가구주_직업대분류코드',
'가구주연령_10세단위코드',
'가구주_종사상지위(보도용)',
'입주형태통합코드',
'주택종류통합코드',
'부채보유여부',
'자산총액10분위코드',
'순자산10분위코드',
]


len(cats)

g1_g2 = [
    '수도권여부',
    '노인가구여부',
    '조손가구여부',
    '한부모가구여부',
    '다문화가구여부(2012년~)',
    '장애인가구여부(2012년~)(보완)',
    '부채보유여부',
]

d = [
    '소득10분위코드(보완)(2017년~)'
]

g = [
    '가구주연령_10세단위코드',
    '가구주_종사상지위(보도용)',
    '가구주_교육정도_통합코드',
    '입주형태통합코드',
    '주택종류통합코드',
]

numeric_hex = [
    '가구주_직업대분류코드',
]

alpha_code = [
    '가구주_산업대분류코드'
]


def g1converter(x):
    if x == 'G1':
        return 1
    return 0

def gdropper(x):
    return int(x.replace('G', ''))

def ddropper(x):
    return int(x.replace('D', ''))

def alpha(x):
    return ord(x) - 64

def hex(x):
    return int(x, 16)



df_dropped[g1_g2] = df_dropped[g1_g2].map(g1converter)
df_dropped[g] = df_dropped[g].map(gdropper)
df_dropped[d] = df_dropped[d].map(ddropper)
df_dropped['가구주_산업대분류코드'] = df_dropped['가구주_산업대분류코드'].fillna('V')
df_dropped['가구주_직업대분류코드'] = df_dropped['가구주_직업대분류코드'].fillna('B')
df_dropped[numeric_hex] = df_dropped[numeric_hex].map(hex)
df_dropped[alpha_code] = df_dropped[alpha_code].map(alpha)

In [ ]:
column_renamed = {
    'MD제공용_가구고유번호': 'Family_ID',
'수도권여부': 'Metropolitan',
'가구주_성별코드': 'Gender',
'가구원수': 'Family_num',
'노인가구여부': 'Elder_Household',
'조손가구여부': 'GrandChild_Household',
'한부모가구여부': 'Single_Household',
'다문화가구여부(2012년~)': 'Multi_Household',
'장애인가구여부(2012년~)(보완)': 'Disability_status',
'가구주_교육정도_통합코드': 'Master_EduCode',
'가구주_동거여부': 'Master_WithLive',
'가구주_산업대분류코드': 'Master_IndustryCode',
'가구주_직업대분류코드': 'Manster_Jobcode',
'가구주연령_10세단위코드': 'Master_Age',
'가구주_종사상지위(보도용)': 'Master_EmpCode',
'가구주_혼인상태코드': 'Master_MarriCode',
'입주형태통합코드': 'Tenancy_Type',
'주택종류통합코드': 'Housing_Type',
'부채보유여부': 'Debt_Holding',
'자산': 'Assets',
'부채': 'Liabilities',
'원리금상환금액': 'Principal_Interest',
'지출_소비지출비': 'Spend_Consum',
'지출_비소비지출(보완)': 'Spend_NonConsum' ,
'가구주_은퇴여부': 'Master_Retired',
'소득10분위코드(보완)(2017년~)': 'Income_code'
}

In [ ]:
df_dropped = df_dropped.rename(columns=column_renamed)

In [ ]:
df_dropped.dtypes

Family_ID               int64
Metropolitan            int64
Gender                  int64
Family_num              int64
Elder_Household         int64
GrandChild_Household    int64
Single_Household        int64
Multi_Household         int64
Disability_status       int64
Master_EduCode          int64
Master_WithLive         int64
Master_IndustryCode     int64
Manster_Jobcode         int64
Master_Age              int64
Master_EmpCode          int64
Master_MarriCode        int64
Tenancy_Type            int64
Housing_Type            int64
Debt_Holding            int64
Income_code             int64
Assets                  int64
Liabilities             int64
Principal_Interest      int64
Spend_Consum            int64
Spend_NonConsum         int64
Master_Retired          int64
dtype: object

In [ ]:

df_dropped.loc[0, :]

Family_ID               10000162
Metropolitan                   1
Gender                         2
Family_num                     1
Elder_Household                1
GrandChild_Household           0
Single_Household               0
Multi_Household                0
Disability_status              0
Master_EduCode                 1
Master_WithLive                1
Master_IndustryCode           20
Manster_Jobcode                4
Master_Age                     5
Master_EmpCode                 2
Master_MarriCode               3
Tenancy_Type                   2
Housing_Type                   1
Debt_Holding                   0
Income_code                    2
Assets                      5700
Liabilities                    0
Principal_Interest             0
Spend_Consum                1175
Spend_NonConsum              121
Master_Retired                 1
Name: 0, dtype: int64

In [ ]:
df_dropped.to_csv('./cleansed.csv', encoding='CP949', index = False)